.navbar{
    width: 95%;
    margin: auto;
    padding: 35pz 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body{
    background-image: url(banner.png);
    background-size: cover;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    position: relative;
}
.navbar ul li a{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
  content:''; 
  height: 2px;
  width: 0;
  background: #DEB887;
  position: absolute; 
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
button{
    width: 120px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #DEB887;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #DEB887;
    height: 100%;
    width: 0;
    border-radius: 25px; 
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
.row{
    text-align: center;
}